<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8">
    <title>InterParking</title>
    <link rel="stylesheet" href="{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}">
  </head>
  <body>
        <br>
          <div class="container">
              <img src="{% static "images/logo.png" %}" class="img-fluid" alt="Responsive image"  height="100" width="300">
          </div>
        <br>

      <div align="left">
      <div class="container">
      <div class="jumbotron">
                <form action="{% url 'interparking_app:user_login' %}" method="post">
                  {% csrf_token %}
                    <div class="form-group">
                      <h4><label for="usernameInput" style="font-family:areal;">User Name</label></h4>
                      <input type="text" class="form-control" id="usernameInput" style="text-align:left;" name="username">
                      <small id="emailHelp" class="form-text text-muted">In case of any technical issues, please contact rezeq78@gmail.com</small>
                    </div>
                    <div class="form-group">
                    <h4>  <label for="passwordInput" style="font-family:areal;">Password</label></h4>
                      <input type="password" class="form-control" id="passwordInput" style="text-align:left;" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
        </div>
        </div>
        </div>
  </body>
</html>
